/* src/components/Main.css */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 60px; 
  box-sizing: border-box;
}

.main-button {
  padding: 200px 170px;
  margin-bottom: 13%;
  background-color: #636363;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.main-button:hover {
  background-color: #e0e0e0;
}
