/* src/components/Main.css */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 60px; 
  box-sizing: border-box;
}

.main-button {
  width: 400px;  /* Ширина кнопки */
  height: 400px; /* Высота кнопки */
  padding: 0;
  margin-bottom: 13%;
  background-color: #3f3f3f; /* Цвет фона кнопки */
  border: none;
  border-radius: 50%; /* Круглая форма кнопки */
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonImage {
  height: 300px; /* Высота изображения внутри кнопки */
  object-fit: cover; /* Обеспечивает правильное отображение изображения */
}

.main-button:hover {
  background-color: #545454;
}
