/* src/components/Main.css */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  padding-top: 60px; /* Чтобы избежать перекрытия с фиксированным хедером */
  box-sizing: border-box;
}

.main-logo {
  width: 300px;
  margin-bottom: 20px;
}

.main-button {
  padding: 15px 30px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.main-button:hover {
  background-color: #e0e0e0;
}

.white {
  background-color: #ff0000;
}