* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background: url('./assets/Background.png'); /* Если изображение в public, укажите путь относительно public */
  background-size: cover; /* Заполняем весь экран */
  background-position: center; /* Центрируем изображение */
  background-repeat: no-repeat; /* Не повторяем изображение */
}

#root {
  height: 100%;
}

