/* src/components/Header.css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    z-index: 1000;
  }

  .translate-button {
    padding: 20px 30px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .translate-button:hover {
    background-color: #e0e0e0;
  }

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
}

.header-right {
  display: flex;
  align-items: center;
}

.avatar-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 10px;
}

.translate-button, 
.login-button, 
.settings-button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #656565;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.translate-button:hover, 
.login-button:hover, 
.settings-button:hover {
  background-color: #0056b3;
}
