/* src/components/Timer.css */
.timer-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  z-index: 2;
}

.main-button {
  padding: 10px 20px;
  font-size: 1.5em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.main-button:hover {
  background-color: #0056b3;
}

.timer-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #e0e0e0; /* Серый фон */
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  min-width: 200px;
  margin-top: 10px;
}

.timer-display {
  color: #333;
}
